.listElementWrapper {
  @include calc(width, #{"100% -  #{$sidePadding * 2}"});
  margin: 0 $sidePadding;
  height: auto;
  border-bottom: 1px solid $skyGrey;
  padding: $verticalPadSmall 0;
  display: flex;
  flex-flow: row wrap;
}

.listElementWrapper > * {
  flex: 1 100%;
}

.listElementText {
  @include calc(width, #{"50% -  #{$sidePadding}"});
  padding: 0 0 0 $sidePadding;
  float: right;
  height: auto;
  font-family: $theme-font;
  font-size: 20px;
  color: $nightGrey;
  font-weight: $comment-font-weight;
}

.listElementMedia {
  @include calc(width, #{"50% -  #{$sidePadding}"});
  padding: 0 $sidePadding 0 0;
  font-family: $theme-font;
  color: $liteAccent;
}

.newsImage {
  float: left;
  width: 100%;
  height: auto;
  &:hover {
    opacity: 0.75;
  }
}

.listElementPublication {
  color: $ignRed;
  font-size: $comment-size;
  margin: 5px 0;
  display: flex;
  flex-flow: row;
}

.listElementCommentPNG {
  width: 35px;
  height: 25px;
  margin: -2.8px -5px 0 -5px;
}

.listElementTitle {
  font-weight: 600;
  &:hover {
    color: $linkBlue;
    text-decoration: underline;
  }
}

.spaceBetweenDateAndComments {
  margin: 0 10px
}

@include sm {
  .listElementWrapper{
    width: 100%;
    padding: 0;
  }
}

@include md {
  .listElementWrapper { padding: $verticalPadLarge 0; }
  .newsImage { flex: 1 auto; }
  .listElementText { flex: 1 auto; }
  .listElementMedia { flex: 1 auto; }
}
