.loadMore-content-button {
  width: 98.5%;
  padding:0;
  margin: 15px 0 0 0;
  height: 200px;
  color: white;
  font-size: 40px;
  background-color: $ignRed;
  border: 0;
  border-radius: 5px;
}

.loadMore-content-button-invisible {
  width: 100%;
  padding:0;
  margin: 15px 0 0 0;
  height: 0;
  opacity: 0;
  color: white;
  font-size: 20px;
  background-color: $ignRed;
  border: 0;
  border-radius: 5px;
}

.loading-animation-wrapper {
  width: 100%;
  padding: 12px 0;
  margin: 0 auto;
  text-align: center;
}

.loading-animation-outter {
  border: 32px solid $ignRed;
  border-top: 32px solid white;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  text-align: center;
  animation: spin 4s linear infinite;
  -webkit-animation: spin 4s linear infinite;
}

.loading-animation-inner {
  border: 16px solid $waistDeepGrey;
  border-bottom: 16px solid white;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  animation: clockwiseSpin 1s linear infinite;
  -webkit-animation: clockwiseSpin 1s linear infinite;
}

@include md {
  .loadMore-content-button{
    height: 100px;
    font-size: 30px
  }

  .loading-animation-outter {
    border: 16px solid $ignRed;
    border-top: 16px solid white;
    width: 80px;
    height: 80px;
  }

  .loading-animation-inner {
    border: 8px solid $waistDeepGrey;
    border-bottom: 8px solid white;
    width: 64px;
    height: 64px;
  }
}

@keyframes spin {
  0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

@-webkit-keyframes clockwiseSpin {
	0%  {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}

}@keyframes clockwiseSpin {
	0%  {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
