.menuWrapper {
  width:100%;
  margin: 0 0 0 120px;
  display: flex;
  flex-flow: row;
  position: fixed;
  &-hidden {
    margin: -200px;
  }

  @include sm {
    width: auto;
    margin: $verticalPadLarge $sidePadding 0 0;
    display: flex;
    flex-flow: column;
    padding: $verticalPadSmall 0 0 0;
  }

  @include md {
    width: 260px;
    margin: 0;
    padding: $verticalPadLarge 0 0 0;
  }
  @include lg {
    margin: $verticalPadLarge $sidePadding 0 0;
    width: 330px;
  }
  @include xl {
    width: 460px;
  }
}
