%menu-button {
  background-color: $liteAccent;
  width: $minimumMenuLength;
  height: 50px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  color: $waistDeepGrey;
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;


  .menuPNG {
    display: block;
    width: 20px;
    height: 20px;
    pointer-events: none;
    margin: 0 0 0 30px;
  }

  .menuText {
    visibility: hidden;
    pointer-events: none;
  }

  @include sm {
    width: 100%;
    height: 50px;
    font-size: 10px;

    .menuPNG{
      float: left;
      width: 20px;
      height: 20px;
    }
    .menuText {
      float: left;
      margin: 0 0 0 10px;
      visibility:visible;
    }
  }

  @include md {
    height: 50px;
    font-size: 15px;
    .menuText {
      margin: 0 0 0 20px;
    }
  }

  @include lg {
    height: 57.32px;
    font-size: 20px;
    .menuPNG{
      width: 30px;
      height: 30px;
    }

    .menuText {
      margin: 0 0 0 30px;
    }
  }

  @include xl {
    height: 82px;
    font-size: 30px;
    .menuPNG{
      width: 40px;
      height: 40px;
    }

    .menuText {
      margin: 0 0 0 40px;
    }
  }
}

.menu-btn {
  @extend %menu-button;
  &:focus{
    outline: none;
    // this is because its what the mock up has, personally, I think there should
    // be ARIA consideration here...
  }
  &:hover{
    background-color: $shallowGrey;
    color: $deepGrey;
  }
  &-active {
    @extend %menu-button;
    background: $ignRed;
    color: $liteAccent;
    &:focus{
      outline:none;
      // this is because its what the mock up has, personally, I think there should
      // be ARIA consideration here...
    }
  }
}
