
%menu-png {
  display: block;
  width: 35px;
  height: 35px;
  margin: 0 auto;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
}

%menu-button {
  background-color: $liteAccent;
  width: $minimumMenuLength;
  margin: -4px 5px 0 0;
  padding: 5px 0;
  border: none;
  border-radius: 5px;
  color: $waistDeepGrey;
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
}

.png-latest {
  @extend %menu-png;
  background-image: url("../../public/images/latest_passive.png");
  background-size: 35px 35px;
}

.png-videos {
  @extend %menu-png;
  background-image: url("../../public/images/videos_passive.png");
  background-size: 37.5px 37.5px;
}

.png-articles {
  @extend %menu-png;
  background-image: url("../../public/images/articles_passive.png");
  background-size: 37px 37px;
}

.menu-titles {
  visibility: hidden;
  pointer-events: none;
  width:0;
  font-size: 15px;
}

.menu-btn {
  @extend %menu-button;
  &:focus{
    outline: none;
  }

  &:hover{
    background-color: $shallowGrey;
    color: $deepGrey;
    .png-latest {
      background-image: url("../../public/images/latest_active.png");
    }

    .png-articles {
      background-image: url("../../public/images/articles_active.png");
    }

    .png-videos {
      background-image: url("../../public/images/videos_active.png");
    }
  }

  &-active {
    @extend %menu-button;
    background: $ignRed;
    color: $liteAccent;
    &:focus{
      outline:none;
    }
    .png-latest {
      background-image: url("../../public/images/latest_selected.png");
    }
    .png-articles {
      background-image: url("../../public/images/articles_selected.png");
    }
    .png-videos {
      background-image: url("../../public/images/videos_selected.png");
    }
  }
}

@include sm {
  %menu-button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
  }
  %menu-png{ margin: 0 20px; }
  .menu-titles {
    margin: 0;
    visibility: visible;
  }

}

@include md {
  %menu-button { height: 50px; }
  .menu-titles { font-size: 20px; }
  %menu-png{ margin: 0 20px 0 60px; }
}

@include lg {
  %menu-button { height: 57.32px; }
  %menu-png{ margin: 0 20px 0 95px; }
}

@include xl {
  %menu-button { height: 82px; }
  %menu-png{ margin: 0 20px 0 145px; }
  .menu-titles { font-size: 30px; }
}
