.playWrapper {
  position: absolute;
  width: 85px;
  font-size: 12px;
  margin: 80px 0 0 5px;

  .playPNG {
    width: 100%;
  }

  .playTimeDiv {
    margin: -25px 0 0 35px;
    font-size: 10px;
  }
}
