.rootWrapper {
  width: 100%;
}

.rootHeader {
  width: 100%;
  border-bottom: 1px solid $skyGrey;
}

.rootBody {
  width: 100%;
  display: flex;
  flex-flow: row;
}

.rootContent {
  width: 75%;
}

.rootMenu {
  width: 25%;
}
