.rootWrapper {
  width: 100%;
  @include sm {
    margin: 0 auto;
    width: 576px;
    h1 {
      font-size: 20px;
    }
  }

  @include md {
    width: 992px;
    h1 {
      font-size: 40px;
    }
  }

  @include lg {
    width: 1280px;
    h1 {
      font-size: 50px;
    }
  }

  @include xl {
    width: 1800px;
    h1 {
      font-size: 60px;
    }
  }
}

.rootHeader {
  width: 100%;
  border-bottom: 1px solid $skyGrey;
  padding: 0 0 $titlePadding 0;
}

.header-title {
  width: 100px;
  height: 100%;
  text-align: center;
  margin: 5px 0 0 10px;
  font-family: $theme-font;
  color: $ignRed;
  font-size: 20px;
  font-weight: 600;
}

.rootBody {
  width: 100%;
  display: flex;
  flex-flow: row;
}

.body-content {
  width: 75%;
  @include sm {
    width: 50%;
  }
}

.body-left {
  width: 25%;
}
