$theme-font: 'Impact', sans-serif;

p {
  font-size: 10px;
}

h1 {
  color: $nightGrey;
  font-family: $theme-font;
  font-size: 70px;
  font-weight: 300;
  margin: 0;
}

h2 {
  color: $ignRed;
  font-family: $theme-font;
  font-size: 40px;
  font-weight: 100;
}
