@import url('https://fonts.googleapis.com/css?family=Lato');

$theme-font: 'Lato', sans-serif;
$comment-size: 15px;
$comment-font-weight: 700; 

p {
  font-size: 10px;
}

h1 {
  color: $nightGrey;
  font-family: $theme-font;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

h2 {
  color: $ignRed;
  font-family: $theme-font;
  font-size: 40px;
  font-weight: 100;
}
